{% extends 'blog/base.html' %}

{% block content %}
{% load static %}

  <div class="col-md-12 col-lg-8 main-content">
    <h1 class="mb-4">{{ article.title }}</h1>
    <div class="post-meta">
                <span class="category">{{ article.category }} </span>
                <span class="mr-2">{{ article.date }} </span> &bullet;
                <span class="ml-2"><span class="fa fa-comments"></span> {{ comments_count }} </span>
              </div>
    <div class="post-content-body">

        <p style="text-align: justify;">
          {{ article.content }}
        </p>
      <div class="row mb-5">
        <div class="col-md-12 mb-4 element-animate">
          <img src="{% static 'blog/images/img_7.jpg' %}" alt="Image placeholder" class="img-fluid">
        </div>
        <div class="col-md-6 mb-4 element-animate">
          <img src="{% static 'blog/images/img_9.jpg' %}" alt="Image placeholder" class="img-fluid">
        </div>
        <div class="col-md-6 mb-4 element-animate">
          <img src="{% static 'blog/images/img_11.jpg' %}" alt="Image placeholder" class="img-fluid">
        </div>
      </div>
      <p>Quibusdam autem, quas molestias recusandae aperiam molestiae modi qui ipsam vel. Placeat tenetur veritatis tempore quos impedit dicta, error autem, quae sint inventore ipsa quidem. Quo voluptate quisquam reiciendis, minus, animi minima eum officia doloremque repellat eos, odio doloribus cum.</p>
      <p>Temporibus quo dolore veritatis doloribus delectus dolores perspiciatis recusandae ducimus, nisi quod, incidunt ut quaerat, magnam cupiditate. Aut, laboriosam magnam, nobis dolore fugiat impedit necessitatibus nisi cupiditate, quas repellat itaque molestias sit libero voluptas eveniet omnis illo ullam dolorem minima.</p>
      <p>Porro amet accusantium libero fugit totam, deserunt ipsa, dolorem, vero expedita illo similique saepe nisi deleniti. Cumque, laboriosam, porro! Facilis voluptatem sequi nulla quidem, provident eius quos pariatur maxime sapiente illo nostrum quibusdam aliquid fugiat! Earum quod fuga id officia.</p>
      <p>Illo magnam at dolore ad enim fugiat ut maxime facilis autem, nulla cumque quis commodi eos nisi unde soluta, ipsa eius aspernatur sint atque! Nihil, eveniet illo ea, mollitia fuga accusamus dolor dolorem perspiciatis rerum hic, consectetur error rem aspernatur!</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus magni explicabo id molestiae, minima quas assumenda consectetur, nobis neque rem, incidunt quam tempore perferendis provident obcaecati sapiente, animi vel expedita omnis quae ipsa! Obcaecati eligendi sed odio labore vero reiciendis facere accusamus molestias eaque impedit, consequuntur quae fuga vitae fugit?</p>
    </div>

    
    <div class="pt-5">
      <p>Categories:  <a href="#">{{ article_category }}</a>, <a href="#">Travel</a>  Tags: <a href="#">#manila</a>, <a href="#">#asia</a></p>
    </div>


    <div class="pt-5">
      <h3 class="mb-5">{{ comments_count }} commentaire{% if comments_count > 1 %}s{% endif %}</h3>
      <ul class="comment-list">
        {% for comment, responses in comments_responses.items  %}
        <li class="comment">
          <div class="vcard">
            <img src="{% static 'blog/images/img_1.jpg' %}" alt="Image placeholder">
          </div>
          <div class="comment-body">
            <h3>{{ comment.utilisateur.username }}</h3>
            <div class="meta">{{ comment.date_create }}</div>
            <p>{{ comment.content }} </p>
            <p>
              <a href="#formulaire" class="reply">Répondre</a>
              <a href="" id="response"><span class="fa fa-comments"></span> {{ reponses|length }} </span></a>
            </p>
          </div>

<!--           <ul class="children" style="display: none;">
            {% for reponse in responses %}
            <li class="comment">
              <div class="vcard">
                <img src="{% static 'blog/images/img_1.jpg' %}" alt="Image placeholder">
              </div>
              <div class="comment-body">
                <h3>{{ response.utilisateur.username }} </h3>
                <div class="meta">{{ response.date_create }} </div>
                <p>{{ response.content }} </p>
                <p><a href="#formulaire" class="reply">Répondre</a></p>
              </div>
             </li>
             {% endfor %}
          </ul> -->
         </li>
         {% endfor %}
      </ul>
      <!-- END comment-list -->
      
      <div class="comment-form-wrap pt-5">
        <h3 class="mb-5">Laissez un commentaire</h3>
        <form action="{% url 'blog:single' article_id=article.id %}" class="p-5 bg-light" method="post" id="formulaire">
          {% csrf_token %}
          <div class="form-group" id="formu">
            <label for="name">Name *</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Poster Commentaire" class="btn btn-primary">
          </div>

        </form>
      </div>
    </div>


  </div>

  <!-- END main-content -->

    <!-- END section -->
{% endblock %}
  
 