{% extends 'blog/base.html' %}

{% block sectionHead %}
{% load static %}
  <section class="site-section pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="owl-carousel owl-theme slider">
            
            <div>
              <a href="{% url 'blog:single' article_id=last_article.id %} " class="a-block d-flex align-items-center height-lg" style="background-image: url({% static 'blog/images/' + %}{{ last_article.image }}); ">
                <div class="text half-to-full">
                  <div class="post-meta">
                    <span class="category">{{ last_article.category }} </span>
                    <span class="mr-2">{{ last_article.date_create }} </span> &bullet;
                    <span class="ml-2"><span class="fa fa-comments"></span> {{ last_article_count_comment }} </span>
                  </div>
                  <h3>{{ last_article.title }} </h3>
                  <p>{{ last_article.content|truncatewords:30 }} </p>
                </div>
              </a>
            </div>
          </div>
          
        </div>
      </div>
      <div class="row">

        {% for article, comment_count in articles_comments_limit.items %}
        <div class="col-md-6 col-lg-4">
          <a href="{% url 'blog:single' article_id=article.id %}" class="a-block d-flex align-items-center height-md" style="background-image: url({% static 'blog/images/' + %}{{ article.image }}); ">
            <div class="text">
              <div class="post-meta">
                <span class="category">{{ article.category.name }} </span>
                <span class="mr-2">{{ article.date_create }} </span> &bullet;
                <span class="ml-2"><span class="fa fa-comments"></span> {{ comment_count }} </span>
              </div>
              <h3>{{ article.title }} </h3>
            </div>
          </a>
        </div>
        {% if forloop.counter|divisibleby:2 %} <div class="clearfix"></div>{% endif %}
        {% endfor %}
      </div>
    </div>


  </section>
  <!-- END section -->
{% endblock %}

{% block content %}

  {% include 'blog/listing.html' %}
  <!-- END main-content -->
{% endblock %}
