{% load static blog_extras %}
<div class="col-md-12 col-lg-8 main-content" id="postes">
  <div class="row">
    {% for article in articles_pagined %}
    <div class="col-md-6">
      <a href="{% url 'blog:single' article_id=article.id %}" class="blog-entry element-animate" data-animate-effect="fadeIn">
        
        {# if images length of an article is egual to 1 #}
        {% if images|images_by_article:article.id|length >= 1 %}
          <img src="{{ images|images_by_article:article.id|indice:0 }}" alt="Image placeholder">
        {% endif %}

        <div class="blog-content-body">
          <div class="post-meta">
            <span class="category">{{ article.category }}</span>
            <span class="mr-2">{{ article.date_create }} </span> &bullet;
            <span class="ml-2"><span class="fa fa-comments"></span> {{ article.comment_count}} </span>
          </div>
          <h2>{{ article.title }}</h2>
        </div>
        <P>

      </a>
    </div>
    {% endfor %}

  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
          {% if articles|paginator:1.has_previous %}
            <li class="page-item "><a class="page-link" href="?{% if query %}query={{ query }}&amp;{% endif %}page={{ all_articles.previous_page_number }}#postes">Préc</a></li>
          {% endif %}

          {% for page_num in articles|pages_numbr:2 %}
          <li class="page-item"><a class="page-link" href="?{% if query %}query={{ query }}&amp;{% endif %}page={{ page_num }}#postes">{{ page_num }} </a></li>
          {% endfor %}
<!--           <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li> -->
          {% if articles|paginator:1.has_next %}
            <li class="page-item"><a class="page-link" href="?{% if query %}query={{ query }}&amp;{% endif %}page={{ all_articles.next_page_number }}#postes">Suiv</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>


  <div class="row mb-5 mt-5">

    <div class="col-md-12">
      <h2 class="mb-4">Autres Articles</h2>
    </div>

    <div class="col-md-12">

      {% for article, comment_count in random_posts.items %}
      <div class="post-entry-horzontal">
        <a href="{% url 'blog:single' article_id=article.id %} ">
          <div class="image element-animate"  data-animate-effect="fadeIn" style="        {% if images|images_by_article:article.id|length >= 1 %} background-image: url({{ images|images_by_article:article.id|indice:0 }});{% endif %}"></div>
          
          <span class="text">
            <div class="post-meta">
              <span class="category">{{ article.category }}</span>
              <span class="mr-2">{{ article.date_create }}</span> &bullet;
              <span class="ml-2"><span class="fa fa-comments"></span> {{ comment_count }} </span>
            </div>
            <h2>{{ article.title }}</h2>
          </span>
        </a>
      </div>
      <!-- END post -->
      {% endfor %}

    </div>
  </div>
</div>